* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

body {
    padding: 1em;
    margin: 0;
}

summary {
    cursor: pointer;
}

#config {
    position: fixed;
    right: 1em;
    top: 1em;
    font-size: 14px;
    border: 1px solid #777;
    padding: 1em;
    background: #FFF;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    font-style: italic;
    opacity: 0.3;
}

#word-count {
    position: fixed;
    left: 1em;
    top: 1em;
}

#editor {
    -webkit-user-modify: read-write-plaintext-only;
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    min-height: 10em;
    padding: 2em;
    border: 1px dashed #c7c7c7;
    outline: none;
    line-height: 1.5;
}

#editor:focus {
    border-color: #777;
}
